/* Globales */
/* ================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

/* Barra de Navegación */
.navbar {
    background-color: rgba(36, 36, 36, 0.787); /* Color de fondo con transparencia */
    backdrop-filter: blur(10px); /* Opcional: Añade un desenfoque al fondo detrás de la barra de navegación */
    transition: top 0.3s; /* Animación para ocultar y mostrar la barra de navegación */
}

.navbar-brand {
    flex: 1; /* Permite que el logo ocupe el espacio necesario */
    display: flex;
    align-items: center;
}

.navbar-toggler {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.nav-item {
    margin-bottom: 0.5rem; /* Espacio entre los elementos de la lista */
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(37, 58, 117, 0.7); /* Mismo color de fondo para el menú desplegable */
    }
}

/* Sección Intro */
.intro-section {
    position: relative;
    height: 100vh; /* Ajusta la altura para que ocupe toda la vista del navegador */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../img/edificios.jpg'); /* URL de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra toda la sección */
    background-position: center; /* Centra la imagen en la sección */
    background-attachment: fixed; /* Fija la imagen en su lugar cuando se hace scroll */
    overflow: hidden;
}

.intro-text {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 
                 -2px -2px 4px rgba(255, 255, 255, 0.2);
}

.intro-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0.5rem; /* Añade un poco de margen para separar los párrafos */
}

.intro-text p {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0.5rem 0; /* Añade un poco de margen para separar los párrafos */
}

.intro-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Filtro oscuro para mejorar la legibilidad del texto */
    z-index: 1;
}

/* "About Us" */
.img-container {
    position: relative;
    width: 100%;
}

.intro-img {
    width: 100%;
    height: 200px; /* Ajusta esta altura según lo que necesites */
    object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
}

.img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color negro difuminado, ajusta el color y la opacidad */
    z-index: 1;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cambia el color del texto según tus necesidades */
    text-align: center;
    font-size: 20px; /* Ajusta el tamaño de la fuente según lo que necesites */
    font-weight: bold; /* Hace el texto más destacado */
    z-index: 2; /* Asegura que el texto esté por encima del fondo difuminado */
    padding-top: 40px;
}

.intro-text h1{
    padding-bottom: 0;
    padding-top: 50px;
    font-weight: bold;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    
}

.container h5{
    font-size: 35px;
    color: #253A75;
}

.container p{
    text-align: justify;
    font-size: larger;
    text-align: center;
}
#justify{
    text-align: justify;
}
/* Botón "Read More" */
.btn-read-more {
    display: inline-block;
    margin-top: 0px;
    padding: 10px 20px;
    font-size: 1.25rem;
    color: rgb(40, 40, 40);
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    position: relative; /* Necesario para el posicionamiento del pseudoelemento */
    overflow: hidden; /* Evita que el contenido se desborde */
    transition: all 0.3s ease;
}

.btn-read-more::after {
    content: '→'; /* El símbolo de la flecha */
    font-size: 1.25rem;
    margin-left: 10px;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    right: 10px; /* Posiciona la flecha en el borde derecho del botón */
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente la flecha */
}

.btn-read-more:hover {
    background-color: rgba(40, 40, 40, 0.7); /* Color de fondo con transparencia */
    backdrop-filter: blur(10px);
    color: #ffffff;
    transform: scale(1.05);
    padding-right: 35px; /* Aumenta el espacio a la derecha para la flecha */
}

.btn-read-more:hover::after {
    opacity: 1; /* Muestra la flecha en el hover */
    transform: translateY(-50%) scale(1.2); /* Aumenta ligeramente el tamaño de la flecha en hover */
}


/* Sección de Tarjetas */
.cards-section {
    background-color: #ffffff;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 1rem; /* Añade un margen inferior para separar el texto */
}


/* Sección de llamada a la acción */
.cta-section {
    background-color: #404040; /* Fondo oscuro */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text {
    color: #fff;
    font-size: 1.5rem;
    margin: 80px;
}

#boton-know{
    margin-right: 80px;
    align-items: center;
    justify-content: center;

}


/* Sección "Who We Are" */
.about-section {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    background-color: #253A75; /* Color de fondo suave */
}

.about-content {
    flex: 1;
    padding-right: 20px;
}

.about-title {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.about-description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #cfcfcf;
    text-align: justify;
}

.about-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sección "Contáctanos" */
.contact-section {
    padding: 60px 20px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.contact-title {
    font-size: 2rem;
    color: #253A75;
    margin-bottom: 20px;
}

.contact-description {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 40px;
}

.contact-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

.contact-form .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form .form-control:focus {
    border-color: #253A75;
    outline: none;
}

.btn-submit {
    background-color: #253A75;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: rgba(37, 58, 117, 0.8);
}

.contact-text {
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Hereda el color del texto circundante */
    transition: transform 0.3s ease; /* Añade una transición suave para el efecto de crecimiento */
    color: #253A75;
}

.contact-text:hover {
    transform: scale(1.1); /* Escala el enlace al 110% cuando se hace hover */
}



/* Sección de Derechos de Autor (Footer) */
.footer-section {
    background-color: #404040; /* Fondo oscuro */
    padding: 20px 0;
    text-align: center;
    color: #ffffff; /* Texto en blanco */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-text {
    font-size: 1rem;
    margin: 0;
}
