/* Globales */
/* ================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

/* Barra de Navegación */
.navbar {
    background-color: rgba(36, 36, 36, 0.787); /* Color de fondo con transparencia */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); /* Opcional: Añade un desenfoque al fondo detrás de la barra de navegación */
    transition: top 0.3s; /* Animación para ocultar y mostrar la barra de navegación */
}

.navbar-brand {
    flex: 1; /* Permite que el logo ocupe el espacio necesario */
    display: flex;
    align-items: center;
}

#navbarS a{
    font-size: 18px !important;
    color: #fff;
}

.navbar-toggler {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.nav-item {
    margin-bottom: 0.5rem; /* Espacio entre los elementos de la lista */
}

/* Sección Intro */
.intro-section {
    position: relative;
    height: 50vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../img/edificios.webp'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    overflow: hidden;
    padding-top: 120px; /* Ajusta según tus necesidades */
}

.intro-text {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 3rem;
    margin-top: 0; /* Elimina el margen superior */
}

.intro-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0.5rem; /* Añade un poco de margen para separar los párrafos */
}

.intro-text p {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0.5rem 0; /* Añade un poco de margen para separar los párrafos */
}

.intro-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Filtro oscuro para mejorar la legibilidad del texto */
    z-index: 1;
}


/* "About Us" */
.img-container {
    position: relative;
    width: 100%;
}

.intro-img {
    width: 100%;
    height: 200px; /* Ajusta esta altura según lo que necesites */
    object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
}

.img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color negro difuminado, ajusta el color y la opacidad */
    z-index: 1;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cambia el color del texto según tus necesidades */
    text-align: center;
    font-size: 20px; /* Ajusta el tamaño de la fuente según lo que necesites */
    font-weight: bold; /* Hace el texto más destacado */
    z-index: 2; /* Asegura que el texto esté por encima del fondo difuminado */
    padding-top: 40px;
}

.intro-text h1{
    padding-bottom: 0;
    padding-top: 50px;
    font-weight: bold;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    
}

.container h5{
    font-size: 25px;
    color: #1e1e1e;
}

.container p{
    font-size: larger;
}
#justify{
    text-align: justify;
}

.justify {
    text-align: justify; /* Justifica el texto */
}

.spaced-text {
    letter-spacing: 0.1em; /* Ajusta el valor según tus necesidades */
}

/* Botón "Read More" */
.btn-read-more {
    font-weight: normal;
    display: inline-block;
    margin-top: 0px;
    padding: 10px 20px;
    font-size: 1.25rem;
    color: rgb(40, 40, 40);
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    position: relative; /* Necesario para el posicionamiento del pseudoelemento */
    overflow: hidden; /* Evita que el contenido se desborde */
    transition: all 0.3s ease;
}

.btn-read-more::after {
    content: '→'; /* El símbolo de la flecha */
    font-size: 1.25rem;
    margin-left: 10px;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    right: 10px; /* Posiciona la flecha en el borde derecho del botón */
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente la flecha */
    border-color: #404040;
}

.btn-read-more:hover {
    background-color: rgba(40, 40, 40, 0.7); /* Color de fondo con transparencia */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #ffffff;
    transform: scale(1.05);
    padding-right: 35px; /* Aumenta el espacio a la derecha para la flecha */
}

.btn-read-more:hover::after {
    opacity: 1; /* Muestra la flecha en el hover */
    transform: translateY(-50%) scale(1.2); /* Aumenta ligeramente el tamaño de la flecha en hover */
}


/* Sección de Tarjetas */
.cards-section {
    background-color: #ffffff;
}

.border-cero{
    border-top: 0;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-size: 1.75rem;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 1rem; /* Añade un margen inferior para separar el texto */
}


/* Sección de llamada a la acción */
.cta-section {
    padding: 20px;
    background-color: #404040; /* Fondo oscuro */
}

.cta-text {
    margin-bottom: 0;
    margin-right: 20px; /* Espacio entre el texto y el botón */
    color: #fff;
    font-size: 20px !important;
}

.btn-read-more {
    margin-left: auto; /* Asegura que el botón no esté pegado a la derecha */
}

/* Sección "Who We Are" */
.about-section {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    background-color: #1e1e1e; /* Color de fondo suave */
}

.about-content {
    flex: 1;
    padding-right: 20px;
}

.about-title {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.about-description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #cfcfcf;
    text-align: justify;
}

.about-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex; /* Usamos flexbox para centrar */
    justify-content: center; /* Centra el contenido horizontalmente */
    margin-top: 20px; /* Ajusta el margen según lo necesites */
}

.btn-services{
    /* Aquí puedes agregar estilos personalizados para tu botón */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #404040; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Esquinas redondeadas */
    align-items: center;
}

.btn-services:hover{
    background-color: rgb(40, 40, 40); /* Color de fondo con transparencia */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #ffffff;
    transform: scale(1.05);
}

/* Sección "Contáctanos" */
.contact-section {
    padding: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.contact-content {
    max-width: 600px;
    width: 100%;
    text-align: justify;
}

.contact-title {
    font-size: 2rem;
    color: #1e1e1e;
    margin-bottom: 20px;
}

.contact-description {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 40px;
}

.contact-form {
    margin-top: 20px;
}

.contact-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

.contact-form .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form .form-control:focus {
    border-color: #1e1e1e;
    outline: none;
}

.btn-submit {
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: rgba(80, 80, 80, 0.8);
}

.centered-text {
    max-width: 80%;
    font-size: 18px;
}

.centered-text {
    max-width: 80%;
    font-size: 18px;
}

.contact-text {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
    color: #1e1e1e;
}

.contact-text:hover {
    transform: scale(1.1);
}

.col-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 20px;
}

.col-right {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
}

/* Sección de Derechos de Autor (Footer) */
.footer-section {
    background-color: #404040; /* Fondo oscuro */
    padding: 20px 0;
    text-align: center;
    color: #ffffff; /* Texto en blanco */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-text {
    font-size: 1rem;
    margin: 0;
}
/* -------ajuste de pantalla-------- */
@media (min-width: 769px) and (max-width: 1199px) {
    .intro-text h1 {
        font-size: 2.5rem; /* Ajusta el tamaño del título para pantallas medianas */
    }

    .intro-text p {
        font-size: 1.2rem; /* Ajusta el tamaño del párrafo */
    }

    .btn-read-more {
        font-size: 1rem; /* Ajusta el tamaño del botón "Read More" */
    }
    .card-text{
        font-size: 0.5rem;
    }
    .card-title{
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    .intro-text h1 {
        font-size: 1.8rem; /* Ajusta el tamaño del título para pantallas medianas */
    }

    .intro-text p {
        font-size: 0.9rem; /* Ajusta el tamaño del párrafo */
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(30, 30, 30, 0.9); /* Mismo color de fondo para el menú desplegable */
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        transition: top 0.3s;
    }
    .navbar-toggler{
        right: 20px;
    }
    .navbar-brand{
        justify-content: center;
    }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .intro-section{
        padding-top: 120px;
    }

    .intro-text h1 {
        font-size: 2rem; /* Reduce el tamaño de la fuente del título */
    }

    .intro-text p {
        font-size: 1rem; /* Reduce el tamaño de la fuente del párrafo */
    }

    .btn-read-more {
        font-size: .9rem; /* Tamaño de fuente más pequeño */
    }
    .cta-text {
        font-size: 1rem; /* Ajusta el tamaño del texto en pantallas pequeñas */
        margin: 10px;
    }

    #boton-know {
        font-size: 0.9rem; /* Ajusta el tamaño del botón en pantallas pequeñas */
        padding: 8px 16px;
        margin: 10px;
    }
    .card-text{
        font-size: 0.5rem;
    }
    .card-title{
        font-size: 1rem;
    }
    .contact-section {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Alinea elementos al centro */
    }

    .col-left {
        order: 1; /* col-left estará arriba */
        margin-right: 0; /* Elimina el margen derecho */
        width: 100%; /* Asegura que ocupe todo el ancho */
    }

    .col-right {
        order: 2; /* col-right estará debajo */
        width: 100%; /* Asegura que ocupe todo el ancho */
        padding-left: 0; /* Elimina el padding izquierdo */
    }
}

@media (max-width: 576px) {
    .intro-text h1 {
        font-size: 2rem; /* Reduce aún más el título */
    }

    .intro-text p {
        font-size: 0.9rem; /* Reduce más el tamaño del párrafo */
    }

    .btn-read-more {
        font-size: 0.7rem; /* Reduce más el tamaño del botón */
    }


    .col-left, .col-right {
        margin: 0; /* Elimina los márgenes en dispositivos móviles */
        padding: 10px; /* Reduce el padding en pantallas pequeñas */
    }

    .centered-text {
        max-width: 100%; /* Asegura que el texto use todo el ancho disponible */
    }

    .contact-content {
        max-width: 100%; /* Asegura que el formulario use todo el ancho disponible */
    }
    
    .card-text {
        font-size: 0.5rem;
    }

    .card-title {
        font-size: 1rem;
    }
}


/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        padding: 20px;
    }

    .col-left, .col-right {
        margin: 5;
        padding: 5;
        text-align: justify;
        width: 100%;
    }

    .centered-text {
        max-width: 100%;
    }
}